<% if (typeof otherUser === 'undefined' || !otherUser) { %>
        <script defer src="/javascripts/profileManipulation.js"></script>
<% } %>

<% if (typeof isFriend !== 'undefined') { %>
    <% if (!isFriend) { %>
        <script defer src="/javascripts/addFriend.js"></script>
    <% } %>
<% } %>

<div class="container">
    <div class="row">
        <div class="card col mt-3 mx-auto">
            <div class="card-title text-center mt-3">
                <h3>Profile of <u><%= user.username %></u></h3>
            </div>
            <div class="card-body pb-0">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Email: </th>
                            <td>
                                <a class="text-warning" href="mailto:<%= user.email %>">
                                    <%= user.email %>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Bio: </th>                        
                            <td>
                                <span id="profileBiography">
                                    <%= user.biography %>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Friends: </th>
                            <td><%= user.friends.length %></td>
                        </tr>
                        <tr>
                            <th>Cards: </th>
                            <td><%= user.blogsCreated %> </td>
                        </tr>
                        <tr>
                            <th>Joined: </th>
                            <td><%= user.createdOn.toLocaleDateString() %> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>  
    <% if (typeof otherUser === 'undefined' || !otherUser) { %>
        <div class="row mt-2 justify-content-end" id="manipulationPanel">
            <div class="col">
                <button class="col btn btn-info" id="profileEditButton">
                    Edit <i class="far fa-edit"></i>
                </button>
            </div>
            <div class="col">
                <button class="col btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal">
                    Delete <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
    <% } %>
    <% if (typeof isFriend !== 'undefined') { %>
        <% if (!isFriend) { %>
            <div class="row mt-2">
                <div class="col d-flex p-0 justify-content-end">
                    <button class="btn btn-success" id="addFriendButton">Add</button>
                </div>
            </div>
        <% } %>
    <% } %>

    <% if (user.friends.length > 0) { %>
        <div class="row mt-5">
            <div class="card col">
                <div class="card-title mt-3 text-center">
                    <h3>Friends List</h3>
                </div>
                <div class="card-body pb-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% user.friends.forEach(friend => { %>
                                    <td>
                                        <a href="/dashboard/profile/user/<%= friend._id %>">
                                            <%= friend.username %>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="text-warning" href="mailto:<%= friend.email %>">
                                            <%= friend.email %>
                                        </a>
                                    </td>
                                <% }) %>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% } %>
</div>

<% if(typeof otherUser === 'undefined' || !otherUser) { %> 
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
            <h5 class="modal-title text-light" id="exampleModalLabel">Confirm Delete Account?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <h4>
                    You are proceeding to delete you Cyll Account, confirm?
                </h4>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="profileDeleteButton">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Nope</button>
            </div>
        </div>
        </div>
    </div>
<% } %> 
